<div class='row h-100'>
    <div class='col-md-3 h-100 alinhaCentro'>
        <div id="telaLogin" class='dp12 alinhaCentro' style="display:inline-grid;">

            <img src="/img/padrao_sem_fundo_aproximado.png" class="mx-auto m-5" width="75%" height="auto">


            <form id="form" autocomplete="off" class="mx-auto" action="/" method="POST">
                <fieldset>
                    
                    <input class="mx-auto dp06 m-2" type="email" id="email" name="email" placeholder="Email" value="{{email}}" required>
                    
                    <input class="mx-auto dp06 m-2" type="password" id="pwd" name="pwd" placeholder="Senha" value="{{senha}}" required>

                    <div class="d-flex justify-content-around">
                        <a style="color: #bb86fc;" data-bs-toggle="modal" data-bs-target="#Modal">Esqueceu sua
                            senha?</a>
                        <button type="submit" class="btn">Enviar</button>
                    </div>
                </fieldset>
            </form>

            <div class="empHigh" style="padding-left: 10%;">
                Ainda não tem uma conta? <a class="newTab" href="/usuarios/cadUsuario"
                    action="/cadUsuario">Registre-se</a>
            </div>

        </div>
        {{#if error}}
        <div class="alert alert-danger text-center">{{error}}</div>
        {{else}}

        {{/if}}
    </div>
    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Recuperação de conta</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form autocomplete="off">
                        <fieldset>
                            <label for="email">Email:</label>
                            <input class="dp06" style="width: 100%;" type="email" id="emailcad" name="email"
                                placeholder="Ex.: email@exemplo.com" required>
                        </fieldset>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary mx-auto">Enviar</button>
                </div>
            </div>
        </div>
    </div>
</div>


<script> if("" != "{{senha}}") {document.getElementById('form').submit()}</script>