<!-- Modal convida colaborador -->
<div class="modal" id="convidaColaborador" tabindex="-2" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="ModalLongTitle">Convidar colaborador</h5>
      </div>
      <form autocomplete="off" action="/projetoConfig/convidaColaborador/{{idProjeto}}" method="POST">
        <fieldset>
          <div class="modal-body">
            <div class="row d-flex justify-content-center">
              <label style="width: 80%;" for="emailColaborador">Email:</label>
              <input class="dp06" style="width: 80%;" type="email" id="emailColaborador" name="emailColaborador"
                placeholder="Ex.: email@exemplo.com" required>
            </div>
            <div class="row d-flex justify-content-around m-2">
              <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
              <button type="submit" class="btn btn-primary">Convidar</button>
            </div>
        </fieldset>
      </form>
    </div>
  </div>
</div>

<form style="display: none;" autocomplete="off" action="/projetos/projetoConfig/removeColaborador" method="POST"></form>

<div class="wrapper d-flex">
  <nav id="sidebar" class="active">
    <ul class="list-unstyled components mb-5" style="height: 100%;">
      <li id="btnToggleSidebar">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <span class="material-icons-outlined">reorder</span>
        </button>
      </li>
      <li class="active">
        <a href="/projetos/listaProjetos">
          <i class="material-icons-outlined">
            home
          </i>
          <span>Início</span>
        </a>
      </li>

      {{!-- <li>
        <a href="/emconstrucao">
          <i class="material-icons-outlined">chat_bubble_outline</i>
          <span>Mensagens</span>
        </a>
      </li>
      <li>
        <a href="/emconstrucao">
          <i class="material-icons-outlined">calendar_today</i>
          <span>Calendário</span>
        </a>
      </li>
      <li>
        <a href="/emconstrucao">
          <i class="material-icons-outlined">forum</i>
          <span>Fórum</span>
        </a>
      </li> --}}
      <li>
        <a href="/usuarios/perfil">
          <i class="material-icons-outlined">portrait</i>
          <span>Perfil</span>
        </a>
      </li>
      <li class="active">
        <a onclick="abreProjeto({{idProjeto}})">
          <i class="material-icons-outlined">assignment</i>
          <span>Tarefas</span>
        </a>
      </li>
      <li>
        <a href="/projetos/projetoConfig">
          <i class="material-icons-outlined">settings</i>
          <span>Configurações</span>
        </a>
      </li>
      <li>
        <a href="/logout" class="d-flex align-content-center">
          <i class="material-icons-outlined text-center">logout</i>
          <span>Logout</span>
        </a>
      </li>
    </ul>

  </nav>
  <div class="col"></div>
  <div id="content" class="col-10 p-4 p-md-5">
    <div class="row">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-colaboradores-tab" data-bs-toggle="tab"
            data-bs-target="#nav-colaboradores" type="button" role="tab" aria-controls="nav-colaboradores"
            aria-selected="true">Colaboradores</button>
          <button class="nav-link" id="nav-projetodados-tab" data-bs-toggle="tab" data-bs-target="#nav-projetodados"
            type="button" role="tab" aria-controls="nav-projetodados" aria-selected="false">Dados do projeto</button>
          {{!-- <button class="nav-link disabled" id="nav-dashboards-tab" data-bs-toggle="tab"
            data-bs-target="#nav-dashboards" type="button" role="tab" aria-controls="nav-dashboards"
            aria-selected="false">Dashboards</button>
          <button class="nav-link disabled" id="nav-cargos-tab" data-bs-toggle="tab" data-bs-target="#nav-cargos"
            type="button" role="tab" aria-controls="nav-cargos" aria-selected="false">Cargos</button>
          <button class="nav-link disabled" id="nav-auditoria-tab" data-bs-toggle="tab" data-bs-target="#nav-auditoria"
            type="button" role="tab" aria-controls="nav-auditoria" aria-selected="false">Auditoria</button> --}}
        </div>
      </nav>
    </div>

    <div class="row tab-content" id="nav-tabContent" style="width: 100%; height: 100%;">
      {{! -------------- DASHBOARDS INÍCIO --------------}}
      <div class="tab-pane " id="nav-projetodados" role="tabpanel" aria-labelledby="nav-projetodados-tab">
        <div class="row mx-auto d-flex justify-content-center" style="height: 50%;">
          <h4 class="align-middle justify-content-center p-3" style="height: fit-content;">Informações de Cadastro:</h4>
          <form class="m-2" style="width: 40%;" action="/projetoConfig/{{idProjeto}}/editaInfo" method="POST">
            <fieldset class="mx-auto">
              {{#each InfoProjeto}}
              <div class="m-2">
                <label for="nomeProjeto" class="empHigh" style="width: 100%;">Nome:</label>
                <input type="text" name="nomeProjeto" id="nomeProjeto" style="width: 100%;" value="{{nomeProjeto}}">
              </div>
              <div class="m-2">
                <label for="cadastrodescricao" class="empHigh" style="width: 100%;">Descrição:</label>
                <textarea name="cadastrodescricao" class="cadastrodescricao empHigh" style="width: 100%;">{{descricao}}</textarea>
              </div>
              {{else}}
              {{/each}}
            </fieldset>
            <div class="d-flex justify-content-around">
              <button type="button" class="btn" style="background-color: #FF3333 !important;"
                onclick="excluiProjeto({{idProjeto}})">Excluir projeto</button>
              <button type="submit" class="btn">Salvar Alterações</button>
            </div>
          </form>
        </div>
        <div class="row d-flex align-middle justify-content-center">
          <h4 class="align-middle justify-content-center p-3" style="height: fit-content;">Outras Informações:</h4>
          {{#each Criador}}
          <div style="width: 50%; font-size: x-large;">
            <div>
              <div class="campofixo field">Data de criação: </div>
              <div class="dadostarefa field align-middle" id="cabecalhoautor">{{formatDate dataCriacao "long"}}</div>
            </div>
            <div>
              <div class="campofixo field">Criador: </div>
              <div class="dadostarefa field align-middle" id="cabecalhodatacriacao">{{nomeUsuario}}</div>
            </div>
          </div>
          {{else}}
          {{/each}}
        </div>
      </div>
      {{! -------------- DASHBOARDS FIM --------------}}


      {{! -------------- COLABORADORES INÍCIO --------------}}
      <div class="tab-pane show active" id="nav-colaboradores" role="tabpanel" aria-labelledby="nav-colaboradores-tab">
        <div class="row cabecalhoUsuarios d-flex p-3 mx-auto">
          <div class="col-2 empHigh mx-auto d-flex">
            <p class="align-self-center m-0">Colaboradores:</p>
            <p class="align-self-center m-0" id="qtdMembros"></p>
          </div>
          <div class="col d-flex">
            <input class="dp06 mx-auto align-self-center" type="text" id="buscaUsuario" placeholder="Usuário">
            <button type="button" class="btn btn-primary align-self-center mx-auto">Filtrar</button>
          </div>
          <div class="col-3 d-flex">

            <button type="button" class="btn btn-primary align-self-center mx-auto" data-toggle="modal"
              data-target="#convidaColaborador">Convidar</button>
          </div>
        </div>
        <div class="row mx-auto">
          <!-- Registro Começo-->
          {{#each Colaboradores}}
          <div class="row borda p-3 mx-auto">

            <div class="col-2">
              <img src="" style="border-radius: 50%;">
            </div>

            <div class="col-5">
              <div class="empHigh d-flex">
                <h4 class="nomeUsuario">{{nomeUsuario}}</h4>
                <h4 style="width: 7ch;"> - </h4>
                <h4 class="codUsuario">{{idProjetoColaborador}}</h4>
              </div>
            </div>

            <div class="col d-flex">
              <button type="button" class="btn btn-primary align-self-center"
                onclick="removeUsuario({{idProjetoColaborador}}, {{../idProjeto}})">
                <span class="material-icons-outlined">person_remove</span>
              </button>
            </div>

          </div>
          {{else}}

          {{/each}}
        </div>
      </div>
      {{! -------------- COLABORADORES FIM --------------}}

      {{!--
      -------------- CARGOS INÍCIO --------------
      <div class="tab-pane fade" id="nav-cargos" role="tabpanel" aria-labelledby="nav-cargos-tab">
        <div class="col-2">

        </div>
        <div class="col p-0">
          <div class="row borda d-flex align-content-center mx-auto p-3">
            <input class="dp06 mx-auto" type="text" id="buscaUsuario" placeholder="Buscar permissões">
            <button type="button" class="btn btn-primary align-self-center mx-auto">Filtrar</button>
          </div>
          <div class="row mx-auto borda">
            <!-- Registro Começo-->
            <div class="row p-2">
              <div class="col-1"></div>
              <div class="col">
                <h5 class="nomePermissao">Teste</h5>
                <p class="descricaoPermissao empHigh">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis
                  tristique
                  velit mi, nec vestibulum ex convallis sed. Sed faucibus volutpat quam, vel iaculis sem tempus
                  posuere. Etiam ut lacinia ante.</p>
              </div>
              <div class="col-3 d-flex">
                <label class="switch align-middle align-self-center">
                  <input type="checkbox">
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="col-1"></div>
            </div>
            <!-- Registro Fim-->
          </div>
        </div>
      </div>
      -------------- CARGOS FIM --------------


      -------------- AUDITORIA INÍCIO --------------
      <div class="tab-pane fade" id="nav-auditoria" role="tabpanel" aria-labelledby="nav-auditoria-tab">
        <div class="row borda">
          <h5>Registro de auditoria</h5>
        </div>
        <div class="row">
          <!-- Registro Começo-->
          <div>
            <div>
              <span class="material-icons-outlined">
                change_history
              </span>
              <img src="" style="border-radius: 50%;">
            </div>
            <div>
              <div>
                <p>Nome c/ ID</p>
                <p> - </p>
                <p>Ação</p>
              </div>
              <p>Data/hora</p>
            </div>
          </div>
          <!-- Registro Fim-->
        </div>
      </div>
      -------------- AUDITORIA FIM -------------- --}}
    </div>
  </div>
  <div class="col"></div>
</div>

<!-- Javascript -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/abreProjeto.js"></script>
<script src="/js/RemoveColaborador.js"></script>
<script src="/js/ExcluiProjeto.js"></script>