{{!-- ------------------- INÍCIO SEÇÃO DE TAGS FILTRO ------------------- --}}

<!-- Modal tags Filtro -->
<div class="modal fade" id="tagmodal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="ModalLongTitle">Tags</h5>
      </div>
      <div class="modal-body d-flex justify-content-center">
        {{#each Tags}}
        <div class="tag d-flex" style="background-color: {{cor}};" id="{{idTags}}"
          onclick="selecionatag({{idTags}}, 0)">
          <div class="mx-auto">
            {{descricao}}
          </div>
        </div>

        {{else}}
        {{/each}}
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

{{!-- ------------------- FINAL SEÇÃO DE TAGS FILTRO ------------------- --}}


{{!-- ------------------- INÍCIO SEÇÃO DE TAGS GERENCIAR ------------------- --}}

<!-- Modal gerenciar tags -->
<div class="modal fade" id="gerenciatagmodal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="ModalLongTitle">Gerenciar Tags</h5>
      </div>
      <div class="modal-body d-flex justify-content-center">
        {{#each Tags}}
        <div class="tag d-flex" style="background-color: {{cor}};" id="{{idTags}}"
          onclick="editaTag({{idTags}}, {{../idProjeto}}, '{{cor}}', {{prioridade}})">
          <div class="mx-auto" id="tag{{idTags}}" data-toggle="modal" data-target="#editatagmodal">
            {{descricao}}
          </div>
        </div>
        {{else}}
        {{/each}}
        <button class="tag" data-toggle="modal" data-target="#cadastrotagmodal">Adicionar tag</button>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Cadastro de tags -->
<div class="modal fade" id="cadastrotagmodal" tabindex="-2" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="ModalLongTitle">Cadastro de tag</h5>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <form autocomplete="off" action="/projetos/projetoTarefas/{{idProjeto}}/cadastroTag" method="POST">
          <fieldset>
            <label for="descricao">Descrição:</label>
            <input class="dp06" style="width: 100%;" type="text" id="descricao" name="descricao"
              placeholder="Ex.: Impedida" required>
            <label for="cor">Cor (opcional):</label>
            <input class="dp06" style="width: 100%;" type="color" value="#bb86fc" id="cor" name="cor">

            <label for="tagprioridade">Prioridade:</label>
            <input type="number" id="tagprioridade" name="tagprioridade" min="0">

          </fieldset>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal edita tag -->
<div class="modal fade" id="editatagmodal" tabindex="-2" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="ModalLongTitle">Edição de tag</h5>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <form id="formEdicaoTag" autocomplete="off" action="/projetos/projetoTarefas/{{idProjeto}}/editaTag/"
          method="POST">
          <fieldset>
            <label for="nomeTagEdicao">Nome:</label>
            <input class="dp06" style="width: 100%;" type="text" id="nomeTagEdicao" name="nomeTagEdicao"
              placeholder="Ex.: Impedida" required>

            <label for="corTagEdicao">Cor:</label>
            <input style="width: 100%;" type="color" id="corTagEdicao" name="corTagEdicao">

            <label for="prioridadeTagEdicao">Prioridade:</label>
            <input type="number" id="prioridadeTagEdicao" name="prioridadeTagEdicao" min="0">

            <label for="checkApagaTag">Apagar tag?</label>
            <input type="checkbox" id="checkApagaTag" name="checkApagaTag">
          </fieldset>

          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>

{{!-- ------------------- FINAL SEÇÃO DE TAGS GERENCIAR ------------------- --}}


{{!-- ------------------- INÍCIO SEÇÃO DE STATUS ------------------- --}}

<!-- Modal gerenciar status -->
<div class="modal fade" id="statusmodal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="ModalLongTitle">Gerenciar Status</h5>
      </div>
      <div class="modal-body d-flex justify-content-center">
        {{#each Status}}
        <div class="tag d-flex" onclick="editaStatus({{idStatus}}, {{../idProjeto}})">
          <div class="mx-auto" id="status{{idStatus}}" data-toggle="modal" data-target="#editastatusmodal">
            {{nome}}
          </div>
        </div>
        {{else}}
        {{/each}}
        <button class="tag" onclick="editaStatus({{idStatus}})" data-toggle="modal"
          data-target="#cadastrostatusmodal">Adicionar status</button>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Cadastro status -->
<div class="modal fade" id="cadastrostatusmodal" tabindex="-2" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="ModalLongTitle">Cadastro de status</h5>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <form autocomplete="off" action="/projetos/projetoTarefas/{{idProjeto}}/cadastroStatus" method="POST">
          <fieldset>
            <label for="nomeStatusCadastro">Nome:</label>
            <input class="dp06" style="width: 100%;" type="text" id="nomeStatusCadastro" name="nomeStatusCadastro"
              placeholder="Ex.: Análise" required>
          </fieldset>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal edita status -->
<div class="modal fade" id="editastatusmodal" tabindex="-2" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="ModalLongTitle">Edição de status</h5>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <form id="formEdicaoStatus" autocomplete="off" action="/projetos/projetoTarefas/{{idProjeto}}/editaStatus/"
          method="POST">
          <fieldset>
            <label for="nomeStatus">Nome:</label>
            <input class="dp06" style="width: 100%;" type="text" id="nomeStatus" name="nomeStatus"
              placeholder="Ex.: Impedida" required>
            <label for="checkApagaStatus">Apagar status?</label>
            <input type="checkbox" id="checkApagaStatus" name="checkApagaStatus">
          </fieldset>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- ------------------- FINAL SEÇÃO DE STATUS ------------------- --}}


{{!-- ------------------- INÍCIO SEÇÃO DE SPRINTS ------------------- --}}

<!-- Modal gerenciar Sprints -->
<div class="modal fade" id="sprintsmodal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="ModalLongTitle">Gerenciar Sprints</h5>
      </div>
      <div class="modal-body d-flex justify-content-center">
        {{#each Sprints}}
        <div class="tag d-flex" onclick="editaSprint({{idSprints}}, {{../idProjeto}})">
          <div class="mx-auto" id="sprint{{idSprints}}" data-toggle="modal" data-target="#editaSprintsmodal">
            {{nome}}
          </div>
        </div>
        {{else}}
        {{/each}}
        <button class="tag" onclick="editaSprint({{idSprints}})" data-toggle="modal"
          data-target="#cadastroSprintsmodal">Adicionar sprint</button>
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Cadastro Sprints -->
<div class="modal fade" id="cadastroSprintsmodal" tabindex="-2" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="ModalLongTitle">Cadastro de sprint</h5>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <form autocomplete="off" action="/projetos/projetoTarefas/{{idProjeto}}/cadastroSprint" method="POST">
          <fieldset>
            <label for="nomeSprintCadastro">Nome:</label>
            <input class="dp06" style="width: 100%;" type="text" id="nomeSprintCadastro" name="nomeSprintCadastro"
              placeholder="Ex.: Desenvolvimento" required>
          </fieldset>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal Edita Sprints -->
<div class="modal" id="editaSprintsmodal" tabindex="-2" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="ModalLongTitle">Edição de Sprint</h5>
      </div>
      <div class="modal-body d-flex justify-content-center">
        <form id="formEdicaoSprint" autocomplete="off" action="/projetos/projetoTarefas/{{idProjeto}}/editaSprint/"
          method="POST">
          <fieldset>
            <label for="nomeSprint">Nome:</label>
            <input class="dp06" style="width: 100%;" type="text" id="nomeSprint" name="nomeSprint"
              placeholder="Ex.: Desenvolvimento" required>
            <label for="checkApagaSprint">Apagar sprint?</label>
            <input type="checkbox" id="checkApagaSprint" name="checkApagaSprint">
          </fieldset>
          <div class="modal-footer d-flex justify-content-center">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

{{!-- ------------------- FINAL SEÇÃO DE SPRINTS ------------------- --}}


{{!-- ------------------- INÍCIO SEÇÃO DE TAREFAS ------------------- --}}

<!-- Modal Cadastro tarefas -->
<div class="modal fade" id="cadastrotarefasmodal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg h-100" role="document">
    <div class="modal-content" style="height: 100%;">
      <div class="row justify-content-center h-100">

        <div class="row d-flex p-2">
          <h5 class="modal-title" id="ModalLgTitle">Cadastro de tarefa </h5>
        </div>

        <div class="row empHigh d-flex align-middle" style="height:60%;">
          <form id="formCriaTarefa" autocomplete="off" style="height: 70%;"
            action="/projetos/projetoTarefas/{{idProjeto}}/cadastroTarefa" method="POST">
            <fieldset style="height: 50%;" class="align-middle">
              <input id="tagsSelecionadas_cadTarefa" name="tagsSelecionadas_cadTarefa" type="text" value=""
                style="display: none;">

              <div class="row">

                <label for="cad_assunto" id="label_cad_assunto" class="mx-auto">Assunto:</label>
                <input type="text" id="cad_assunto" name="cad_assunto" class="mx-auto" required>

              </div>

              <div class="row d-flex justify-content-around m-2 p-1">

                <div class="col mx-auto">
                  <label for="cad_Prioridade" class="label">Prioridade:</label>
                  <select class="dropdown" name="cad_Prioridade" id="cad_Prioridade">
                    <optgroup>
                      <option value="Alta">Alta</option>
                      <option value="Normal">Normal</option>
                      <option value="Baixa">Baixa</option>
                    </optgroup>
                  </select>
                </div>

                <div class="col mx-auto">
                  <label for="cad_idstatus" class="label">Status:</label>
                  <select class="dropdown" name="cad_idstatus" id="cad_idstatus">
                    <optgroup>
                      {{#each Status}}
                      <option value="{{idStatus}}">{{nome}}</option>
                      {{else}}
                      {{/each}}
                    </optgroup>
                  </select>
                </div>

              </div>

              <div class="row d-flex justify-content-around m-2 p-1">

                <div class="col">

                  <label for="cad_sprint" class="label">Sprint:</label>
                  <select class="dropdown" name="cad_sprint" id="cad_sprint">
                    <optgroup>
                      <option value="sem sprint">Sem sprint</option>
                      {{#each Sprints}}
                      <option value="{{idSprints}}">{{nome}}</option>
                      {{else}}
                      {{/each}}
                    </optgroup>
                  </select>

                </div>
                <div class="col d-flex justify-content-center align-middle align-items-center">

                  <button type="button" class="btn btn-primary filtrar" data-toggle="modal" data-target="#cad_tagmodal"
                    id="btn_tags">
                    Tags
                  </button>

                </div>

              </div>
              <div id="row_detalhamento" class="row mx-auto" style="height: 100%;">
                <label for="cad_Detalhamento">Detalhamento:</label>
                <textarea id="cad_Detalhamento" name="cad_Detalhamento" class="empHigh detalhamento"
                  style="height: 100%;" required></textarea>
              </div>
            </fieldset>
          </form>
        </div>
        <div style="height: 5%;" class="row d-flex align-items-start justify-content-around m-2 p-1">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
          <button onclick="criaTarefa()" class="btn btn-primary">Criar tarefa</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal tags Cadastro -->
<div class="modal fade" id="cad_tagmodal" tabindex="-2" role="dialog" aria-labelledby="ModalCenterTitle"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header d-flex justify-content-center">
        <h5 class="modal-title" id="ModalLongTitle">Tags</h5>
      </div>
      <div class="modal-body d-flex justify-content-center">
        {{#each Tags}}
        <div class="tag d-flex" style="background-color: {{cor}};" id="{{idTags}}cad"
          onclick="selecionatag({{idTags}}, 1)">
          <div class="mx-auto">
            {{descricao}}
          </div>
        </div>

        {{else}}
        {{/each}}
      </div>
      <div class="modal-footer d-flex justify-content-center">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Salvar</button>
      </div>
    </div>
  </div>
</div>

<div class="wrapper d-flex align-items-stretch">

  <nav id="sidebar" class="active">
    <ul class="list-unstyled components mb-5">
      <li class="active" id="btnToggleSidebar">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
          <span class="material-icons-outlined">reorder</span>
        </button>
      </li>
      <li>
        <a href="/projetos/listaProjetos" class="d-flex align-content-center">
          <i class="material-icons-outlined text-center">
            home
          </i>
          <span>Início</span>
        </a>
      </li>

      {{!-- <li>
        <a href="/emconstrucao" class="d-flex align-content-center">
          <i class="material-icons-outlined text-center">chat_bubble_outline</i>
          <span>Mensagens</span>
        </a>
      </li>
      <li>
        <a href="/emconstrucao" class="d-flex align-content-center">
          <i class="material-icons-outlined text-center">dashboard</i>
          <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a href="/emconstrucao" class="d-flex align-content-center">
          <i class="material-icons-outlined text-center">calendar_today</i>
          <span>Calendário</span>
        </a>
      </li>
      <li>
        <a href="/emconstrucao" class="d-flex align-content-center">
          <i class="material-icons-outlined text-center">forum</i>
          <span>Fórum</span>
        </a>
      </li> --}}
      <li>
        <a href="/usuarios/perfil" class="d-flex align-content-center">
          <i class="material-icons-outlined text-center">portrait</i>
          <span>Perfil</span>
        </a>
      </li>
      <li>
        <a onclick="abreProjeto({{idProjeto}})" class="d-flex align-content-center">
          <i class="material-icons-outlined text-center">assignment</i>
          <span>Tarefas</span>
        </a>
      </li>
      <li>
        <a href="/projetoConfig/{{idProjeto}}" class="d-flex align-content-center">
          <i class="material-icons-outlined text-center">settings</i>
          <span>Configurações</span>
        </a>
      </li>
      <li>
        <a href="/logout" class="d-flex align-content-center">
          <i class="material-icons-outlined text-center">logout</i>
          <span>Logout</span>
        </a>
      </li>
    </ul>

  </nav>

  <div class="col"></div>
  <div id="content" class="m-2 p-4 p-md-5 col-10">
    <form id="filtros" action="/projetos/projetoTarefas/{{idProjeto}}" method="post">
      <fieldset style="width: 100%;">
        <div class="d-flex align-content-center" style="width: 100%; flex-wrap: wrap;">
          <div class="field">
            <label for="dataInicial">Data Inicial:</label><br>
            <input class="dp06 data" type="date" name="dataInicial" id="dataInicial"
              value="{{Filtros.filtro_dataInicial}}">
          </div>
          <div class="field" style="margin-left: 1ch;">
            <label for="dataFinal">Data Final:</label>
            <input class="dp06 data" type="date" name="dataFinal" id="dataFinal" value="{{Filtros.filtro_dataFinal}}">
          </div>

          <div class="field">
            <label for="sprints">Sprint:</label>
            <select class="dropdown" name="sprints" id="sprints">
              <optgroup>
                <option value="0">Todas</option>
                {{#each Sprints}}

                {{#selected idSprints ../Filtros.filtro_sprints }}
                <option value="{{idSprints}}" selected>{{nome}}</option>
                {{else}}
                <option value="{{idSprints}}">{{nome}}</option>
                {{/selected}}

                {{else}}
                {{/each}}
              </optgroup>
            </select>
          </div>

          <div class="field" id="search">
            <label for="pesquisa">Pesquisa:</label>

            {{#if Filtros.filtro_pesquisa}}
            <input class="dp06" type="text" name="pesquisa" id="pesquisa" size="30" value="{{Filtros.filtro_pesquisa}}">
            {{else}}
            <input class="dp06" type="text" name="pesquisa" id="pesquisa" size="30">
            {{/if}}

          </div>

          <div class="field">
            <label for="pesquisaOpcao">Critérios:</label>
            <select class="dropdown" name="pesquisaOpcao" id="pesquisaOpcao">

              {{#selected 1 Filtros.filtro_pesquisaOP }}
              <option value="1" selected>Código</option>
              {{else}}
              <option value="1">Código</option>
              {{/selected}}

              {{#selected 2 Filtros.filtro_pesquisaOP }}
              <option value="2" selected>Assunto</option>
              {{else}}
              <option value="2">Assunto</option>
              {{/selected}}

              {{#selected 3 Filtros.filtro_pesquisaOP }}
              <option value="3" selected>Autor</option>
              {{else}}
              <option value="3">Autor</option>
              {{/selected}}

            </select>
          </div>

          <div class="field">
            <label for="status">Status:</label>

            <select class="dropdown" name="status" id="idstatus">
              <optgroup>
                <option value="">Todos</option>
                {{#each Status}}

                {{#selected idStatus ../Filtros.filtro_status }}
                <option value="{{idStatus}}" selected>{{nome}}</option>
                {{else}}
                <option value="{{idStatus}}">{{nome}}</option>
                {{/selected}}

                {{else}}
                {{/each}}
              </optgroup>
            </select>
          </div>


          <div class="field d-flex align-content-center">
            <button type="button" class="btn btn-primary align-self-center filtrar" data-toggle="modal"
              data-target="#tagmodal">
              Tags
            </button>
            {{#if Filtros.filtro_tagsSelecionadas}}
            <input type="text" name="tagsSelecionadas" id="tagsSelecionadas"
              value="{{Filtros.filtro_tagsSelecionadas}}">
            {{else}}
            <input type="text" name="tagsSelecionadas" id="tagsSelecionadas" value="">
            {{/if}}

          </div>

          <div class="field d-flex align-content-center">
            <button class="btn align-self-center filtrar" type="submit" onclick="filtraTarefas()">
              Filtrar
            </button>
          </div>
        </div>
      </fieldset>
    </form>

    <div id="grid" class="row m-2 table-responsive-xl">
      <table id="gridTabela" class="table table-striped table-dark table-bordered table-hover ">
        <colgroup>
          <col span="1" style="min-width: 10ch; max-width: fit-content;">
          <col span="1" style="min-width: 30ch; max-width: fit-content;">
          <col span="1" style="min-width: 12ch; max-width: fit-content;">
          <col span="1" style="min-width: 20ch; max-width: fit-content;">
          <col span="1" style="min-width: 11ch; max-width: fit-content;">
          <col span="1" style="min-width: 11ch; max-width: fit-content;">
          <col span="1" style="min-width: 15ch; max-width: fit-content;">
        </colgroup>
        <thead>
          <tr>
            <th scope="col" onclick="sortTable(0)">Código</th>
            <th scope="col" onclick="sortTable(1)">Assunto</th>
            <th scope="col" onclick="sortTable(2)">Prioridade</th>
            <th scope="col" onclick="sortTable(3)">Autor</th>
            <th scope="col" onclick="sortTable(4)">Última resposta</th>
            <th scope="col" onclick="sortTable(5)">Data de criação</th>
            <th scope="col" onclick="sortTable(6)">Sprint</th>
          </tr>
        </thead>
        <tbody>
          {{#each Tarefa}}
          <tr id="tarefa{{idTarefas}}" onclick="abreTarefa({{../idProjeto}},{{idTarefas}})">
            <td class="codigo">{{idTarefas}}</td>
            <td>{{assunto}}</td>
            <td>{{prioridade}}</td>
            <td>{{nomeUsuario}}</td>
            <td>{{formatDate dataCriacao "long"}}</td>
            <td>{{formatDate ultimaResposta "long"}}</td>
            <td>{{idSprint}}</td>
          </tr>
          {{else}}

          {{/each}}
      </table>
    </div>

    <div class="row d-flex" style="width: 100%; justify-content: flex-end">
      <button type="button" class="btn btn-primary align-self-center m-2" data-toggle="modal"
        data-target="#gerenciatagmodal">
        Gerenciar tags
      </button>
      <button type="button" class="btn btn-primary align-self-center m-2" data-toggle="modal"
        data-target="#sprintsmodal">
        Gerenciar sprints
      </button>
      <button type="button" class="btn btn-primary align-self-center m-2" data-toggle="modal"
        data-target="#statusmodal">
        Gerenciar status
      </button>
      <button class="btn align-self-center m-2" style="width: 13ch; height: 4ch;" data-toggle="modal"
        data-target="#cadastrotarefasmodal">
        Criar tarefa
      </button>
    </div>

  </div>
  <div class="col"></div>

</div>

<!-- Javascript -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/main.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="/js/AbreTarefa.js"></script>
<script src="/js/fadeAlerta.js"></script>
<script src="/js/filtraTarefas.js"></script>
<script src="/js/abreProjeto.js"></script>
<script src="/js/ordenaGrid.js"></script>
<script src="/js/gerenciaRegistros.js"></script>
<script src="/js/alteraCoresGrid.js"></script>

<script>
  window.onload = alteraCorGrid('{{coresTarefas}}')
</script>