<div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" class="active">
        <ul class="list-unstyled components mb-5">
            <li class="active" id="btnToggleSidebar">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                    <span class="material-icons-outlined">reorder</span>
                </button>
            </li>
            <li>
                <a href="/projetos/listaProjetos" class="d-flex align-content-center">
                    <i class="material-icons-outlined text-center">
                        home
                    </i>
                    <span>Início</span>
                </a>
            </li>
            <li>
                <a onclick="abreProjeto({{idProjeto}})" class="d-flex align-content-center">
                    <i class="material-icons-outlined text-center">assignment</i>
                    <span>Tarefas</span>
                </a>
            <li>
                <a href="/emconstrucao" class="d-flex align-content-center">
                    <i class="material-icons-outlined text-center">chat_bubble_outline</i>
                    <span>Mensagens</span>
                </a>
            </li>
            <li>
                <a href="/emconstrucao" class="d-flex align-content-center">
                    <i class="material-icons-outlined text-center">dashboard</i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="/emconstrucao" class="d-flex align-content-center">
                    <i class="material-icons-outlined text-center">calendar_today</i>
                    <span>Calendário</span>
                </a>
            </li>
            <li>
                <a href="/emconstrucao" class="d-flex align-content-center">
                    <i class="material-icons-outlined text-center">forum</i>
                    <span>Fórum</span>
                </a>
            </li>
            <li>
                <a href="/emconstrucao" class="d-flex align-content-center">
                    <i class="material-icons-outlined text-center">portrait</i>
                    <span>Perfil</span>
                </a>
            </li>
            <li>
                <a href="/projetos/projetoConfig" class="d-flex align-content-center">
                    <i class="material-icons-outlined text-center">settings</i>
                    <span>Configurações</span>
                </a>
            </li>
        </ul>

    </nav>
    <div class="col"></div>
    <div id="content" class="m-2 p-md-3 col-10 h-100">
        <div class="row cabecalho h-15 empHigh mx-auto P-2">
            <div class="row">
                {{#each Tarefa}}
                <div class="col">
                    <div class="campofixo field">Código: </div>
                    <div class="dadostarefa field align-middle" id="cabecalhocodigo">{{idTarefas}}</div>
                </div>
                <div class="col-4">
                    <div class="campofixo field">Assunto: </div>
                    <div class="dadostarefa field align-middle" id="cabecalhoassunto">{{assunto}}</div>
                </div>
                <div class="col-3">
                    <div class="campofixo field">Autor: </div>
                    <div class="dadostarefa field align-middle" id="cabecalhoautor">{{idAutor}}</div>
                </div>
                <div class="col">
                    <div class="campofixo field">Data de criação: </div>
                    <div class="dadostarefa field align-middle" id="cabecalhodatacriacao"> {{formatDate dataCriacao
                        "long"}}</div>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <div class="campofixo field">Prioridade: </div>
                    <div class="dadostarefa field align-middle" id="cabecalhoprioridade">{{prioridade}}</div>
                </div>
                <div class="col-2">
                    <div class="campofixo field">Status: </div>
                    <div class="dadostarefa field align-middle" id="cabecalhostatus">{{idStatus}}</div>
                </div>
                <div class="col-4">
                    <div class="campofixo field">Sprint: </div>
                    <div class="dadostarefa field align-middle" id="cabecalhosprint">{{idSprint}}</div>
                </div>
                <div class="col">
                    <div class="campofixo field">Tags: </div>
                    <div class="dadostarefa field align-middle" id="cabecalhotags"></div>
                </div>
            </div>
            {{else}}

            {{/each}}
        </div>

        <div class="row mostrarespostas m-2 empHigh h-55">
            {{#each TarefaRespostas}}
            <div class="resposta empHigh">
                <p class="respostatexto m-2">
                    {{resposta}}
                </p>
                <div class="row respostadados p-1">
                    <div class="col">
                        <div>Autor: {{nomeUsuario}}</div>
                    </div>
                    <div class="col">
                        <div>Data: {{formatDate dataResposta "long"}}</div>
                        <div></div>
                    </div>
                    <div class="col">
                        <div> Status anterior: {{statusAnterior}}</div>
                        <div></div>
                    </div>
                    <div class="col">
                        <div>Novo status: {{statusNovo}}</div>
                        <div></div>
                    </div>
                </div>

            </div>
            {{else}}

            {{/each}}
        </div>
        <div class="row rodape m-2 empHigh h-25 d-flex">
            <div class="col-4 contagemtempo p-0 mx-auto">
                <table class="table table-striped table-dark table-hover table-bordered">
                    <thead class="text-center">
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Quantidade de tempo</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row" class="text-center">1</th>
                            <td>00:00:00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-7 mx-auto">
                {{#each Tarefa}}
                <form autocomplete="off" action="{{idTarefas}}" method="POST">
                    <fieldset>
                        <textarea class="row novaresposta p-2 h-78 w-100 m-0" name="novaResposta"
                            id="novaResposta"></textarea>
                        <div class="row mx-auto p-2 justify-content-end">
                            <button class="btn">Cancelar</button>
                            <button class="btn" type="submit" style="margin-left: 5%;">Postar resposta</button>
                        </div>
                    </fieldset>
                </form>
                {{else}}

                {{/each}}
            </div>
            {{#each erros}}
            <div class="alert alert-danger">{{texto}}</div>
            {{else}}
            {{/each}}
        </div>
    </div>
    <div class="col"></div>
</div>

<!-- Javascript -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/popper.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
<script src="/js/abreProjeto.js"></script>